.container {
}

.todo-form {
  max-width: 25%;
  margin: 0 auto 10px auto;
  text-align: left;
}

.todo-list {
  max-width: 25%;
  margin: 0 auto 20px auto;
}

.todo-item {
  padding: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 1px 1px 2px 2px #e9e9e9;
  border-radius: 2px;
  margin-bottom: 5px;
}

.complete {
  float: right;
  margin-right: 12px;
  background: #ccc;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
}

.delete {
  float: right;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
}

.todo-item.completed {
  background: #3fbaf95e;
  color: #a3aaad;
  text-decoration: line-through;
}

.todo-item.completed .complete {
  cursor: initial;
}

.todo-item.completed .delete {
  color: #333;
}
